<h1 class="text-2xl text-center mt-32 mb-5">
    Orders</h1>
<div class="flex justify-center ">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left">
            <thead class="text-xs text-white uppercase bg-gray-50 dark:bg-gray-700">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Reference
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" class="bg-white border-b">
                    <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                        {{order.reference}}
                    </th>
                    <td class="py-4 px-6">
                        {{order.date}}
                    </td>
                    <td class="py-4 px-6">
                        <a routerLink="/EditOrder" (click)="onEdit(order)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>